[Unit]
Description=MediaCrush containers
After=docker.service

[Service]
Restart=always
Type=simple
WorkingDirectory=/home/host-user/mediacrush/
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose stop

[Install]
WantedBy=local.target
